<header>
  <button (click)="onRemoveSelection()">REMOVE</button>
  <hr />
</header>
<ng-template #nodeTemplate let-node="node" let-onCollapseExpand="onCollapseExpand"
  let-onCheckedChange="onCheckedChange">
  <div class="tree-row">
    <div class="expand-icon" *ngIf="node.hasChildren()">
      <span [hidden]="node.collapsed" (click)="onCollapseExpand(node)">
        <img class="expand" />
      </span>
      <span [hidden]="!node.collapsed" (click)="onCollapseExpand(node)">
        <img class="collapse" />
      </span>
    </div>
    <div>
      <input type="checkbox" [(ngModel)]="node.checked" (ngModelChange)="onCheckedChange(node, $event)" [ngStyle]="!node.hasChildren() && {'margin-left': '2.0625rem'}"/>
      <label (click)="node.checked = !node.checked; onCheckedChange(node, $event)">
        {{node.title}}
      </label>
      <input [type]="node.internalType" [(ngModel)]="node.value" />
    </div>
  </div>
</ng-template>
<div class="treeview-container">
  <app-tree-node *ngFor="let node of nodes" [node]="node" [template]="nodeTemplate"
    (checkedChange)="onCheckedChange(node, $event)">
  </app-tree-node>
</div>
