:host {
  .expand-icon {
    cursor: pointer;
    float: left;
    height: .8rem;
    margin-right: .3rem;

    .expand {
      content: url("./../../assets/icons/baseline-keyboard_arrow_right-24px.svg");
    }

    .collapse {
      content: url("./../../assets/icons/outline-expand_less-24px.svg");
      display: block;
    }
  }

  .node-row {
    padding: .75rem 0;
  }
}

.treeview-container {
  overflow-y: auto;
  padding: .3rem;
}
